body {
    margin: 0;
}
.main {
    width: 100vw;
    height: 100vh;
    gap: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    width: 200px;
    height: 60px;
    padding: 10px;
    border: solid 1px #006400;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}
button:hover {
    color: #fff;
    background-color: #006400;
}